# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch

# IntellIJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code
.settings/
.vscode/
bin/
.classpath
.project

# MacOS
*.DS_Store

# Minecraft/Fabric
run/

# Java
hs_err_*.log
replay_*.log
*.hprof
*.jfr
